.register-form {
    width: 600px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    /* margin-top: 20px; */
    background: #f2f3f7;
    border-radius: 10px;
}
.register-form-forgot {
    float: right;
}
.register-form-button {
    width: 100%;
}

.bg_register {
    height: 100vh;
    /* background: linear-gradient(180deg, #a0d7e7, #6c5dd3); */
    background-image: url("../assets/login-background.png");
    background-size: cover;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}


.register-page {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/login-background.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    z-index: 99;
}


.register-container {
    position:relative;
    max-width: 820px;
    margin: 40px auto 0;
}

.register-page .register-container .register-box {
    top: 0;
    left: 0;
    width: 310px;
    height: 100%;
    padding: 30px 40px 15px 40px;
    backface-visibility: hidden;
    background: linear-gradient(30deg, rgba(53, 57, 74, 0) 0%, rgb(255, 255, 255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(53, 57, 74, 0)', endColorstr='rgb(0, 0, 0)',GradientType=1 );
    box-shadow: -15px 15px 15px rgba(0,0,0,.4);
}

/* .ant-btn-primary,.ant-btn-primary:focus{
    background-color:#363636;
    border-color:#363636;
}

.ant-btn-primary:hover {
    background-color:#828282;
    border-color:#828282;
} */

a {
    color:#363636;
}
a:hover {
    color:#828282;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus, .ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-checked::after {
    border: 1px solid #363636;
}


.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #363636;
    border: 1px solid #363636;
}







